html, body {
    margin: 0; /* Убираем отступы */
    padding: 0; /* Убираем внутренние отступы */
    width: 100%; /* Задаем ширину на всю доступную ширину */
}

/* Стилизация контейнера шапки */
.header-container {
    background-color: black; /* Цвет фона */
    padding: 0px; /* Ширина фона */
    display: flex; /* Используем flexbox для выравнивания элементов внутри */
    justify-content: space-between; /* Располагаем элементы с пространством между ними */
    width: 100%; /* Ширина на всю доступную ширину */
}

/* Стилизация заголовка в шапке */
.title-container h1 {
    color: white; /* Цвет текста - белый */
    text-decoration: none;
    position: relative;
    margin: 5px; /* Убираем внешние отступы > Влияет на ширину фона!!! */ 
    margin-left: 30px /* Левый отступ */
    
}

.title-container h1::after {
    content: ''; /* Псевдоэлемент должен иметь контент, даже если он пустой */
    position: absolute; /* Абсолютное позиционирование относительно ссылки */
    left: 0; /* Начало линии слева от текста */
    bottom: 0px; /* Расстояние под текстом */
    height: 1px; /* Толщина линии */
    width: 100%; /* Ширина линии равна ширине элемента */
    background-color: white; /* Цвет линии */
}

/* Стилизация последнего пункта в списке навигации */
nav li:last-child {
    margin-right: 100px; /* Правый отступ*/
}

/* Стилизация ссылки в заголовке */
.home-link {
    color: white; /* Цвет текста - белый */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
}

/* Стилизация основной части шапки */
header {
    display: flex; /* Используем flexbox для выравнивания элементов внутри */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    justify-content: space-between; /* Располагаем элементы с пространством между ними */
    max-width: 100%; /* Максимальная ширина */
    width: 95%; /* Ширина 95% от родительского элемента */
}

/* Стилизация навигационного меню */
nav {
    display: flex; /* Используем flexbox для выравнивания элементов внутри */
    justify-content: center; /* Выравниваем элементы по центру */
    flex-grow: 1; /* Элемент растягивается, занимая доступное пространство */
}

/* Стилизация списка в навигации */
nav ul {
    list-style: none; /* Убираем стандартные маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    display: flex; /* Используем flexbox для выравнивания элементов внутри */
    justify-content: flex-end; /* Выравниваем элементы в конце */
    flex-grow: 1;
}

/* Стилизация каждого пункта в списке навигации */
nav li {
    margin: 0 17px; /* Отступы между пунктами списка */
}

/* Стилизация ссылок в навигации */
nav a {
    color: white; /* Цвет текста - белый */
    text-decoration: none; /* Убираем подчеркивание у ссылки */
}

/* Стилизация ссылок в навигации при наведении */
nav a:hover {
    color: grey; /* Цвет текста при наведении - серый */
}

.active a {
    text-decoration: none; /* Убираем стандартное подчеркивание */
    position: relative; /* Необходимо для позиционирования псевдоэлемента */
}

.active a::after {
    content: ''; /* Псевдоэлемент должен содержать пустое значение content */
    position: absolute;
    left: 0;
    bottom: -6px; /* Смещаем подчеркивание вниз */
    width: 100%; /* Ширина подчеркивания соответствует ширине элемента a */
    height: 1px; /* Толщина линии подчеркивания */
    background-color: white; /* Цвет линии подчеркивания */
}