<!DOCTYPE html>
<html>
<head>
    <title>World News</title>
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
</head>
<body>

{% include 'menu.html' %}
<div class="country-name-container">
    <h2 class="country-name">World News</h2>
</div>
<main>
    <!-- Здесь будет контент страницы, например, список новостей -->
    {% if latest_news %}
        <div class="news-container">
            {% for country_name, news in latest_news.items %}
                {% if news.id %}
                    <div class="news-item">
                        <a href="{% url 'news_detail' country_name=country_name news_id=news.id %}">
                            <h2>{{ news.title }}</h2>
                            <p>{{ news.description }}</p>
                            <!-- Другие детали -->
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных новостей.</p>
    {% endif %}
</main>
<footer>
    <!-- Футер сайта -->
    {% include 'footer.html' %}
</footer>
</body>
</html>
